* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-slate-900: hsl(218, 44%, 22%);
  --color-slate-500: hsl(216, 15%, 48%);
  --color-slate-300: hsl(212, 45%, 89%);

  --color-white: hsl(0, 0%, 100%);

  --text-preset-1: bold 22px/120% "Outfit", "Roboto", sans-serif;
  --text-preset-2: 15px/140% "Outfit", "Roboto", sans-serif;

  --spacing-500: 40px;
  --spacing-300: 24px;
  --spacing-200: 16px;
}

.attribution {
  font: var(--text-preset-2);
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

main {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--color-slate-300);
}

/* Dynamic viewport height on supported browsers */
@supports (height: 100dvh) {
  main {
    min-height: 100dvh;
  }
}

.card {
  display: flex;
  width: 100%;
  max-width: 320px;
  padding: var(--spacing-200);
  padding-bottom: var(--spacing-500);
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-300);

  border-radius: 20px;
  background-color: var(--color-white);
  box-shadow: 0 25px 25px 0 rgba(0, 0, 0, 0.05);
}

.card img {
  border-radius: 10px;
}

.card-content {
  display: flex;
  padding: 0 var(--spacing-200);
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-200);
}

.card-title {
  color: var(--color-slate-900);
  text-align: center;
  font: var(--text-preset-1);
}

.card-paragraph {
  color: var(--color-slate-500);
  text-align: center;
  font: var(--text-preset-2);
  letter-spacing: 0.0125em;
}
